.nvenv/
.venv/
__pycache__/
*/__pycache__/*
snapshots/
test/
AutoSaveData.log
face_recognition
models_yolo/*
backup_image.img.gz
*/data_face_checkin_customer_images/*
*/data_face_checkin_employee_images/*
*/data_face_register_customer_images/*
*/data_face_register_employee_images/*
data/
test/
test.ipynb